@page "/konto"
@inherits MeComponent
@layout MainLayout

<style>
    .horizontal-right {
        float: right;
    }
</style>
<div class="container">
    <h1>@User?.Name @User?.Surname</h1>
    <div class="row container-margin-top">
        <div class="modal" tabindex="-1" style="@(DeleteConfVisible ? "display:block;" :"display:none;")" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Potwierdzenie</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="@(()=> { DeleteConfVisible = false; SelectedLecture = null; })">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Czy na pewno chcesz zrezygnować z zajęć <span style="font-style: italic;">@SelectedLecture?.Name</span>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="@(()=> { DeleteConfVisible = false; SelectedLecture = null; })">Nie</button>
                        <button type="button" class="btn btn-primary" onclick="@QuitLecture">Tak</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" style="@(SetPresentVisible ? "display:block;" :"display:none;")" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Potwierdzenie obecności</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="@(()=> { SetPresentVisible = false; SelectedLecture = null; })">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Aby potwierdzić obecność wpisz kod podany przez prowadzącego zajęcia</p>
                        <div class="form-group">
                            <label for="code">Kod:</label>
                            <input type="text" class="form-control" id="code" bind="ConfirmationCode" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="@(()=> { SetPresentVisible = false; SelectedLecture = null; })">Anuluj</button>
                        <button type="button" class="btn btn-primary" onclick="@SetPresent">Potwiedź</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal" tabindex="-1" style="@(SetOpinionVisible ? "display:block;" :"display:none;")" role="dialog">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ocenianie zajęć</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="@(()=> { SetOpinionVisible = false; SelectedLecture = null; })">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Wypełnij podane pola</p>
                        <div class="font-weight-bold mt-2">Jak oceniasz ciekawość przedstawionego tematu?</div>
                        <div class="form-check form-check-inline">
                            <label>Bardzo źle</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="grade1" value="1">
                            <label class="form-check-label" for="grade1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="grade2" value="2">
                            <label class="form-check-label" for="grade1">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="grade3" value="3">
                            <label class="form-check-label" for="grade1">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="grade4" value="4">
                            <label class="form-check-label" for="grade1">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="grade5" value="5">
                            <label class="form-check-label" for="grade1">5</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label>Bardzo Dobrze</label>
                        </div>

                        <div class="font-weight-bold mt-2">Jak oceniasz prowadzącego zajęcia?</div>
                        <div class="form-check form-check-inline">
                            <label>Bardzo źle</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="grade1" value="1">
                            <label class="form-check-label" for="grade1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="grade2" value="2">
                            <label class="form-check-label" for="grade1">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="grade3" value="3">
                            <label class="form-check-label" for="grade1">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="grade4" value="4">
                            <label class="form-check-label" for="grade1">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="grade5" value="5">
                            <label class="form-check-label" for="grade1">5</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label>Bardzo Dobrze</label>
                        </div>

                        <div class="font-weight-bold mt-2">Jak jest szansa że poleciłbyś zajęcia innej osobie?</div>
                        <div class="form-check form-check-inline">
                            <label>Brak szansy</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="grade1" value="1">
                            <label class="form-check-label" for="grade1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="grade2" value="2">
                            <label class="form-check-label" for="grade1">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="grade3" value="3">
                            <label class="form-check-label" for="grade1">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="grade4" value="4">
                            <label class="form-check-label" for="grade1">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="grade5" value="5">
                            <label class="form-check-label" for="grade1">5</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label>Na pewno poleciłbym</label>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1 font-weight-bold mt-2">Komentarz</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Napisz komentarz"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="@(()=> { SetOpinionVisible = false; SelectedLecture = null; })">Anuluj</button>
                        <button type="button" class="btn btn-primary" onclick="@SaveOpinion">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <h3>Moje zajęcia</h3>
            @if (LoadedLectures)
            {
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active" id="home-tab" data-toggle="tab" onclick="@(()=>SelectedTab = LectureTab.Current)" role="tab" aria-selected="true">Aktywne</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="profile-tab" data-toggle="tab" onclick="@(()=>SelectedTab = LectureTab.Future)" role="tab" aria-selected="false">Nadchodzące</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="contact-tab" data-toggle="tab" onclick="@(()=>SelectedTab = LectureTab.Past)" role="tab" aria-selected="false">Zakończone</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade @( SelectedTab == LectureTab.Current ? "show active" : "")" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="list-group">
                            @foreach (var lecture in ActiveLectures)
                            {
                                <li class="list-group-item">
                                    <a class="btn btn-link" href="/zajecia/@lecture.Id">
                                        @lecture.Name
                                    </a>
                                    <button class="btn btn-success horizontal-right" onclick="@(()=> ShowSetPresentDialog(lecture))">
                                        Potwierdź obecność
                                    </button>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="tab-pane fade @(SelectedTab == LectureTab.Future ? "show active" : "")" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <ul class="list-group">
                            @foreach (var lecture in FutureLectures)
                            {
                                <li class="list-group-item">
                                    <span class="badge badge-primary badge-pill">@lecture.Date.ToString("dd-MM-yyyy")</span>
                                    <a class="btn btn-link" href="/zajecia/@lecture.Id">
                                        @lecture.Name
                                    </a>
                                    <button class="btn btn-danger horizontal-right" onclick="@(()=> ShowDeleteConfirmation(lecture))">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        Rezygnuj
                                    </button>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="tab-pane fade @(SelectedTab == LectureTab.Past ? "show active" : "")" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <ul class="list-group">
                            @foreach (var lecture in PastLectures)
                            {
                                <li class="list-group-item">
                                    <span class="badge badge-primary badge-pill">@lecture.Date.ToString("dd-MM-yyyy")</span>
                                    <a class="btn btn-link" href="/zajecia/@lecture.Id">
                                        @lecture.Name
                                    </a>
                                    @if (!lecture.Marked)
                                    {
                                        <button class="btn btn-secondary horizontal-right" onclick="@(()=>ShowSetOpinionDialog(lecture))">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            Oceń
                                        </button>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <div class="loader-lg"></div>
            }
        </div>
    </div>
</div>