@page "/"
@using ZPP_Blazor.Models;
@layout MainLayout
@inherits HomeComponent
<style>
    body {
        font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 700;
    }

    header.masthead {
        position: relative;
        background-color: #343a40;
        background: url("../img/header_class.jpg") no-repeat center center;
        background-size: cover;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

        header.masthead .overlay {
            position: absolute;
            background-color: #212529;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0.3;
        }

        header.masthead h1 {
            font-size: 2rem;
        }

    @@media (min-width: 768px) {
        header.masthead {
            padding-top: 12rem;
            padding-bottom: 12rem;
        }

            header.masthead h1 {
                font-size: 3rem;
            }
    }

    .main-panel {
        margin-top: 5em;
    }

    .dialog-box-max-width {
        width: 100%;
        margin-top: 0px;
    }

    .align-right {
        float: right;
    }
</style>
<header class=" row masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Znajdź dodatkowe zajęcia dla siebie!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <div class="form-row">
                    <div class="col-md-9 mb-2 mb-md-0">
                        <input type="text" class="form-control form-control-lg" bind="Phrase" onkeypress="@OnKeyPressed" placeholder="Czego szukasz?" />
                        <div class="dropdown-menu @(Searched ? "show" : " ") dialog-box-max-width form-group">
                                @foreach (var lecture in SearchedLectures)
                                {
                                        <a class="dropdown-item" href="/zajecia/@lecture.Id">@lecture.Name</a>
                                }
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/zajecia?wyszukaj=@Phrase">Więcej...</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" onclick="@Search" class="btn btn-block btn-lg btn-primary" data-toggle="dropdown">Wyszukaj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container main-panel">
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body" style="@(DataLoaded ? "visibility:visible;" : "visibility:hidden;")">
                    <h2 class="card-title">@FirstPromoting?.Name</h2>
                    <p class="card-text">@FirstPromoting?.Description</p>
                </div>
                <div class="loader-md" style="@(!DataLoaded ? "display:block;" : "display:none")"></div>
                <div class="card-footer">
                    <a href="/zajecia/@FirstPromoting?.Id" style="@(DataLoaded ? "pointer-events:auto" : "pointer-events:none")" class="btn btn-primary btn-sm">Więcej</a>
                    <span class="align-right">Data: @(FirstPromoting.Date == default(DateTime) ? "__-__-____" : FirstPromoting.Date.ToString("dd-MM-yyyy"))</span>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body" style="@(DataLoaded ? "visibility:visible;" : "visibility:hidden;")">
                    <h2 class="card-title">@SecondPromoting?.Name</h2>
                    <p class="card-text">@SecondPromoting?.Description</p>
                </div>
                <div class="loader-md" style="@(!DataLoaded ? "display:block;" : "display:none")"></div>
                <div class="card-footer">
                    <a href="/zajecia/@SecondPromoting?.Id" style="@(DataLoaded ? "pointer-events:auto" : "pointer-events:none")" class="btn btn-primary btn-sm">Więcej</a>
                    <span class="align-right">Data: @(SecondPromoting.Date == default(DateTime) ? "__-__-____" : SecondPromoting.Date.ToString("dd-MM-yyyy"))</span>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body" style="@(DataLoaded ? "visibility:visible;" : "visibility:hidden;")">
                    <h2 class="card-title">@ThirdPromoting?.Name</h2>
                    <p class="card-text">@ThirdPromoting?.Description</p>
                </div>
                <div class="loader-md" style="@(!DataLoaded ? "display:block;" : "display:none")"></div>
                <div class="card-footer">
                    <a href="/zajecia/@ThirdPromoting?.Id" style="@(DataLoaded ? "pointer-events:auto" : "pointer-events:none")" class="btn btn-primary btn-sm">Więcej</a>
                    <span class="align-right">Data: @(ThirdPromoting.Date == default(DateTime) ? "__-__-____" : ThirdPromoting.Date.ToString("dd-MM-yyyy"))</span>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
    </div>
</div>