@page "/zajecia/strona/{strona}"
@inherits BaseComponent

<style>
    .align-right {
        float: right;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto mt-3">
            <div class="form-row">
                <div class="col-12 col-md-9 mb-md-0">
                    <input type="text" bind="Phrase" id="search-box" @onkeypress="OnKeyPressed" name="searchedPhrase" class="form-control form-control-lg" placeholder="Czego szukasz?" />
                </div>
                <div class="col-12 col-md-3">
                    <button type="submit" @onclick="OnSearch" class="btn btn-block btn-lg btn-primary">Wyszukaj</button>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-3">
            <div class="dropdown show">
                <button class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sortuj
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">      
                    <button class="dropdown-item @(Order == Enums.OrderOption.date ? "active" : "")" @onclick="SortByDate">Data - od najwcześniejszych</button>
                    <button class="dropdown-item @(Order == Enums.OrderOption.date_desc ? "active" : "")" @onclick="SortByDateDesc">Data - od najpóźniejszych</button>
                    <button class="dropdown-item @(Order == Enums.OrderOption.name ? "active" : "")" @onclick="SortByName">Nazwa - od A do Z</button>
                    <button class="dropdown-item @(Order == Enums.OrderOption.name_desc ? "active" : "")" @onclick="SoryByNameDesc">Nazwa - od Z do A</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row content-container">
        <div class="loader-lg" style="@(!IsDataLoaded ? "display:block;" : "display:none")"></div>
        <div class="col-md-12" style="@(IsDataLoaded ? "display:block;" : "display:none")">
            @for (int i = 1; i <= Math.Ceiling(Lectures.Count() / 3.0); i++)
            {
                <div class="row container-margin-top">
                    @for (int j = (3 * i) - 3; j < Math.Min(i * 3, Lectures.Count); j++)
                    {
                        <div class="col-md-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title">@Lectures[j].Name</h2>
                                    <p class="card-text">@Lectures[j].Description</p>
                                </div>
                                <div class="card-footer">
                                    <a href="/zajecia/@Lectures[j].Id" class="btn btn-primary btn-sm">Więcej</a>
                                    <span class="align-right">Data: @(Lectures[j].Date == default(DateTime) ? "__-__-____" : Lectures[j].Date.ToString("dd-MM-yyyy"))</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="row container-margin-top" style="@(IsDataLoaded ? "display:block;" : "display:none")">
        <div class="col-md-6 offset-md-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item @(CurrentPage <=1 ? "disabled" : "")">
                        <a class="page-link" href="/zajecia/strona/@(CurrentPage-1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for(int i =1; i <= Pages; i++)
                    {

                    <li class="page-item @(CurrentPage == i ? "active" : "")"><a class="page-link" href="/zajecia/strona/@i">@i</a></li>
                    }
 
                    <li class="page-item @(CurrentPage == Pages ? "disabled" : "")">
                        <a class="page-link" href="/zajecia/strona/@(CurrentPage+1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>