@page "/wykladowca"
@using Enums
@inherits LecturerComponent
@layout MainLayout

<style>
    .horizontal-right {
        float: right;
    }
    #page-header {
        margin-bottom: 20px;
        padding: 8px;
        border-radius: 8px;
        border-width: 0px !important;
        background-color: #0F88AC;
        color: white;
        padding-top: 0px;
        padding-right: 0px;
    }
    #sub-header {
        /*background-color: #188468;*/
        margin-left: -8px;
        margin-right: -8px;
        padding: 6px;
    }
    #nameHeader {
        margin-top: 8px;
    }

</style>
<div class="container">
    <div class="container-margin-top">
        <div class="modal" tabindex="-1" style="@(DeleteConfVisible ? "display:block;" :"display:none;")" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Potwierdzenie</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="@(()=> { DeleteConfVisible = false; SelectedLecture = null; })">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Czy na pewno chcesz usunąć zajęcia <span style="font-style: italic;">@SelectedLecture?.Name</span>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="@(()=> { DeleteConfVisible = false; SelectedLecture = null; })">Nie</button>
                        <button type="button" class="btn btn-primary" onclick="@DeleteLecture">Tak</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="page-header" class="border border-primary">
            <div class="row">
                <div class="col-md-10">
                    <p id="nameHeader">Zalogowano jako <span style="font-weight:bold">@User?.Name @User?.Surname</span></p>
                </div>
                <div class="col-md-2">
                    <p  style="background-color: #0A5F78; font-weight:bold; font-size:14pt; padding:8px; text-align:center">Wykładowca</p>
                </div>
            </div>
            <div id="sub-header" class="row">
                <h3 class="col-md-10 align-self-center">Moje zajęcia</h3>
                <div class="col-md-2 align-self-center">
                    <NavLink href="/zajecia/dodaj" class="btn btn-primary">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Dodaj
                    </NavLink>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                @if (LoadedLectures)
                {
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <button class="nav-link active" id="home-tab" data-toggle="tab" onclick="@(()=>SelectedTab = LectureTab.Current)" role="tab" aria-selected="true">Aktywne</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="profile-tab" data-toggle="tab" onclick="@(()=>SelectedTab = LectureTab.Future)" role="tab" aria-selected="false">Nadchodzące</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="contact-tab" data-toggle="tab" onclick="@(()=>SelectedTab = LectureTab.Past)" role="tab" aria-selected="false">Zakończone</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade @( SelectedTab == LectureTab.Current ? "show active" : "")" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <ul class="list-group">
                                @foreach (var lecture in ActiveLectures)
                                {
                                    <li class="list-group-item">
                                        <a class="btn btn-link" href="/zajecia/@lecture.Id">
                                            @lecture.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="tab-pane fade @(SelectedTab == LectureTab.Future ? "show active" : "")" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <ul class="list-group">
                                @foreach (var lecture in FutureLectures)
                                {
                                    <li class="list-group-item">
                                        <span class="badge badge-primary badge-pill">@lecture.Date.ToString("dd-MM-yyyy")</span>
                                        <a class="btn btn-link" href="/zajecia/@lecture.Id">
                                            @lecture.Name
                                        </a>
                                        <button class="btn btn-danger horizontal-right" onclick="@(()=> ShowDeleteConfirmation(lecture))">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            Usuń
                                        </button>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="tab-pane fade @(SelectedTab == LectureTab.Past ? "show active" : "")" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <ul class="list-group">
                                @foreach (var lecture in PastLectures)
                                {
                                    <li class="list-group-item">
                                        <span class="badge badge-primary badge-pill">@lecture.Date.ToString("dd-MM-yyyy")</span>
                                        <a class="btn btn-link" href="/zajecia/@lecture.Id">
                                            @lecture.Name
                                        </a>
                                        @if (!lecture.Marked)
                                        {
                                            <button class="btn btn-secondary horizontal-right" onclick="@(()=>ShowOpinions(lecture))">
                                                <i class="fa fa-list" aria-hidden="true"></i>
                                                Oceń
                                            </button>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    <div class="loader-lg"></div>
                }
            </div>
        </div>
    </div>
</div>